{% extends "./userAdminWrapper.html" %} {% load static %} 
{% block title %}Bidding History{% endblock title %} {% block main_content%}
<div class="col-md-12">
  <div class="py-3">
    <h5>Bidding History</h5>
  </div>

  <div class="col-md-12">
      <ul class="list list-inline  mx-0">
        {% for item_with_bid in items_with_latest_bid %}
        <li class="d-flex card-border justify-content-between mb-3  p-3">
          <div class="d-flex flex-row align-items-center">
            <div class="ml-2">
              <h6 class="mb-0 text-uppercase">{{ item_with_bid.item.name }}</h6>
              Starting Amount {{ item_with_bid.item.reverse_price }} RWF
              <div class="d-flex flex-row mt-1 text-black-50 date-time">
                <div>
                  <i class="fa fa-calendar-o"></i
                  ><span class="ml-2">{{ item_with_bid.item.auction.start_at.date }} , {{ item_with_bid.item.auction.start_at|time:"g:i A" }} To 
                    {{ item_with_bid.item.auction.end_at|time:"g:i A" }}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="d-flex flex-row align-items-center">
            <div class="d-flex flex-column mr-2">
              Current Amount : {{item_with_bid.latest_bid_amount }} RWF
            {% if item_with_bid.item.auction.end_at < item_with_bid.now and item_with_bid.item.is_sold %}
                 <h6 class="text-danger">Sold Out</h6>

        {% elif item_with_bid.item.auction.end_at < item_with_bid.now and not item_with_bid.item.is_sold %}
        <h6 class="text-danger">Will Be In Next Auction.</h6>
        {% else %}
        <h6 class="text-success">Live Bidding</h6>
        {% endif %}
        <div class="d-flex flex-column justify-content-end align-items-end">
          {% if item_with_bid.item.auction.end_at < item_with_bid.now %}
          <button class="btn btn-success btn-sm w-50" type="button">
            Can't View
          </button>
          {% else %}
          <a
            href="{% url 'item-detail' pk=item_with_bid.item.id %}"
            class="btn btn-primary btn-sm py-1"
            type="button"
          >
            Bidding Room</a
          >
          {% endif %}
          </div>
        </li>
           {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
