{% extends "../base.html" %} 
{% load static %} 
{% block title %} Change Password {% endblock title %} {% block content %} 


{% for message in messages %}
<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
  <div class="d-flex align-items-center">

    <svg class="text-success" xmlns="http://www.w3.org/2000/svg" width="1.2em" height="1.2em" viewBox="0 0 24 24">
	<path fill="currentColor" d="m10.6 13.8l-2.15-2.15q-.275-.275-.7-.275t-.7.275t-.275.7t.275.7L9.9 15.9q.3.3.7.3t.7-.3l5.65-5.65q.275-.275.275-.7t-.275-.7t-.7-.275t-.7.275zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22" />
</svg>
    <span class="pl-2">{{ message }}</span>
  </div>

  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endfor %} 



{% if form.non_field_errors %}
    <div class="alert alert-danger">
        <ol>
            {% for error in form.non_field_errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ol>
      </div>

      {% endif %}

<div class="container my-3">
    <div class="col-md-8">
    <div class="py-3">
      <h4 class="">Change Password</h4>
    </div>
    {% if form.error %}
    <p class="p-4 text-light bg-danger">
      <i class="bi bi-bug"></i> {{ error }}
    </p>
    {% endif %}
    <form id="msform" action="{% url 'password_change' %}" method="post">
      {% csrf_token %}
      <div class="pt-2">
        <div class="form-group mb-3">
          <label class="floating-label" for="old_password">Old Password <span class="text-danger">*</span></label>
          <input
            type="password"
            class="form-control"
            id="old_password"
            name="old_password"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label class="floating-label" for="new_password">New Password  <span class="text-danger">*</span></label>
          <input
            type="password"
            class="form-control"
            id="new_password"
            name="new_password"
            required
          />
        </div>
        <div class="form-group mb-4">
          <label class="floating-label" for="confirm_new_password"
            >Confirm Password  <span class="text-danger">*</span></label
          >
          <input
            type="password"
            class="form-control"
            name="confirm_new_password"
            id="confirm_new_password"
            required
          />
        </div>
        <button type="submit" class="btn btn-sm btn-block btn-primary">
          <div class="d-inline-flex justify-content-center align-items-center">
                        <span id="btn-content">Change Password </span> <div class="loader"></div>
                    </div>
        </button>
      </div>
    </form>
    
  </div>
</div>
{% endblock %} 


{% block scripts %}
<script src="{% static 'js/form.js' %}" defer></script>
{% endblock scripts %}

