{% extends "../base.html" %} {% load static %} {% block title %} Reset Password
{%endblock title %} 

{% block content %}
{% if error_message %}
<div class="alert alert-danger">
  <div id="form_errors" class="text-center">{{ error_message }}</div>
</div>
{% endif %}
<div class="container-login">
  <div
    class="form-side"
    data-aos="fade-down"
    data-aos-delay="200"
    data-aos-duration="1000"
  >
    <div class="form-title">
      <p>
        Provide your own Phone Number.
      </p>
    </div>
    <div class="form-body">
      <form method="post">
        {% csrf_token %}

        <div class="field-group">
          <input type="tel" name="phone_number" id="phone_number" placeholder="Phone Number(+250)" required />
        </div>

        <button type="submit" class="btn">Reset Now</button>
      </form>
    </div> 
  </div>
      <a class="reset-link" href="{% url 'login' %}">Sign In <i class="bi bi-arrow-right"></i> </a> 
</div>
{% endblock content %} {% block scripts %}
<script src="{% static 'js/login.js' %}" defer></script>
{% endblock scripts %}